<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>[[${pageTitle}]]</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/}">Student Management System</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  th:href="@{/api/v/student/studentsDetails}">Students Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/api/v/student/addstudent}">Add New Student</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-sm ml-5">
  <div align="center" >
    <h1>Student Management System</h1>
    <h2>[[${pageTitle}]]</h2>
  </div>
  <div align="center">
    <form class="row g-3 mt-2" th:action="@{/api/v/student/add/student}" method="post" style="max-width: 500px" th:object="${student}">
      <input type="hidden" th:field="*{id}" />
      <div class="col-md-12" align="left">
        <label for="name" class="form-label" style="align: left">Name</label>
        <input type="text" class="form-control" th:field="*{name}" id="name" required minlength="3" maxlength="25">
      </div>
      <div class="col-md-12" align="left">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" th:field="*{email}" required minlength="8" maxlength="45">
      </div>
      <div class="col-12" align="left">
        <label for="address" class="form-label">Address</label>
        <input type="text" class="form-control" id="address" th:field="*{address}" placeholder="Colombo" required minlength="3" maxlength="100">
      </div>
      <div class="col-12" align="left">
        <label for="phoneNo" class="form-label">Phone No</label>
        <input type="text" class="form-control" id="phoneNo" th:field="*{phone}" placeholder="077-123-1425" required minlength="9" maxlength="10">
      </div>
      <div class="col-md-6" align="left" >
        <label for="age" class="form-label">Age</label>
        <input type="text" class="form-control" id="age" th:field="*{age}" required minlength="1" maxlength="5">
      </div>
      <div class="text-center" align="left" >
        <button type="submit" class="btn btn-primary  m-1">Save</button>
        <button type="submit" class="btn btn-secondary m-2" onclick="funCancel">Cancel</button>
      </div>
    </form>
  </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script type="text/javascript">
  function funCancel(){
    window.location = "[[@{/}]]";
  }
</script>
</body>
</html>